<section class="lessons-section">
  
  <div class="content">
    <h1>
      Lessons and insights <br />
      <span>from 8 years</span>
    </h1>
    <p>
      Where to grow your business as a photographer: site or social media?
    </p>
    <button class="register-btn">Register</button>
  </div>
  <div class="image">
    <img src="assets/images/Illustration.png" alt="Lessons illustration" />
  </div>
</section>
<div class="dots-loader">
  <span class="dot active"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>