.lessons-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9rem;
  padding: 8rem 2rem 2rem 2rem; // top padding enough to clear navbar
  background: #f5f7fa;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  flex-wrap: wrap;

  .content {
    max-width: 500px;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      color: #333;
      line-height: 1.2;
      margin-bottom: 1rem;
      white-space: normal;

      span {
        color: #67b36d;
        font-size: 2.8rem;
      }
    }

    p {
      font-size: 1.1rem;
      color: #777;
      margin-bottom: 2rem;
    }

    .register-btn {
      background-color: #67b36d;
      color: #fff;
      border: none;
      padding: 0.9rem 2rem;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 6px;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background-color: #5ca15f;
      }
    }
  }

  .image img {
    max-width: 420px;
    width: 100%;
    height: auto;
  }

  @media (max-width: 1100px) {
    flex-direction: column-reverse !important;
    row-gap: 2rem;
    text-align: center;
  

    .content {
      margin-bottom: 2rem;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }

      .register-btn {
        padding: 0.8rem 1.5rem;
        font-size: 0.95rem;
      }
    }

    .image img {
      margin-top: 2rem;
    }
  }

  @media (max-width: 600px) {
    // padding: 12rem 1% 2rem 1%; // more top padding for small screens

    .content h1 {
      font-size: 1.6rem;
    }

    .content p {
      font-size: 0.95rem;
    }

    .register-btn {
      padding: 0.6rem 1.2rem;
      font-size: 0.9rem;
    }

    .image img {
      margin-top: 2rem;
    }
  }
}

.dots-loader {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  background: #f5f7fa;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  padding-bottom: 1rem;

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #cbe7d6;
    transition: background 0.3s;

    &.active {
      background: #67b36d;
    }
  }
}
