
   .clients-section {
  background-color: #fff;
  color: #333;

  .section-title {
    padding-top: 2rem;
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 0;
  }

  .section-subtitle {
    padding-bottom: 0;
    color: #777;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    padding-top: 0.5rem;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 9rem;
    row-gap: 3rem;
    margin-bottom: 0.5rem;
    padding-top: 3rem;
  }

  .Manage {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2rem;
  }

  h2, p {
    margin: 0;
  }

  .logo-item {
    margin-bottom: 0;
  }

  .cards-row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 8rem;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .card-custom {
    flex: 0 0 300px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    padding: 1rem 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    }

    h3 {
      margin-top: 0;
      font-weight: 700;
      font-family: "Inter", sans-serif;
      font-size: 1.7rem;
      color: #3a3a3a;
      margin-bottom: 1rem;
    }

    p {
      color: rgba(113, 113, 113, 1);
      font-size: 1rem;
    }

    .icon-wrapper {
      display: inline-block;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 0.3rem;
    }

    .icon-img {
      width: 65px;
      height: 56px;
    }
  }

  @media (max-width: 992px) {
    .cards-row {
      flex-wrap: wrap;
      gap: 1.5rem;
      margin: 3rem;
    }
    .card-custom {
      margin-bottom: 1.5rem;
    }
  }

  @media (max-width: 768px) {
    .section-title {
      font-size: 1.6rem;
      margin-bottom: 0;
      
    }

    .section-subtitle {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    .logos {
      gap: 1rem;
      margin-bottom: 0.3rem;
      .client-logo {
        width: 70px;
      }
    }
    .Manage {
      font-size: 1.3rem;
      margin-top: 0;
    }
    .cards-row {
      flex-direction: column;
      gap: 1rem;
    }
    .card-custom {
      flex: 1 1 100%;
      margin-bottom: 1rem;
    }
  }
}

.feature-section {
  background: #fff;
  padding: 4rem 0;

 .feature-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 2rem; 
}

  .feature-image {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 420px;
      width: 100%;
      height: 400px;
    }
  }

  .feature-content {
  padding-left: 4rem;
  text-align: center;
  padding: 0 25px;// add inner spacing instead of pushing the block

  h2 {
    font-size: 2.3rem;
    font-weight: 700;
    color: #555;
    margin-bottom: 1.5rem;
    line-height: 1.1;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    color: #777;
    margin-bottom: 2.5rem;
  }

  .feature-btn {
    background-color: #67b36d;
    color: #fff;
    border: none;
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background-color: #5ca15f;
    }
  }
}


  @media (max-width: 1155px) {
    .feature-container {
      flex-direction: column;
      gap: 2rem;
      text-align: center;
    }
    .feature-content {
      text-align: center;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
    .feature-image img {
      max-width: 300px;
    }
  }
}