<section class="clients-section text-center py-5">
  <div class="container">
    <h2 class="section-title fw-semibold mb-2">Our Clients</h2>
    <p class="section-subtitle mb-5">
      We have been working with some Fortune 500+ clients
    </p>
    <div class="logos d-flex flex-wrap justify-content-center align-items-center gap-5">
      <div class="logo-item" *ngFor="let client of clients">
        <img [src]="client.src" [alt]="client.alt" class="client-logo" />
      </div>
    </div>
    <h2 class="fw-semibold mb-2 Manage">Manage your entire community <br> in a single system</h2>
    <p class="section-subtitle mb-5">
      Who is Nextcent suitable for?
    </p>
  </div>
  <div class="container my-5">
    <div class="d-flex justify-content-center align-items-stretch gap-4 flex-nowrap cards-row">
      <div class="card-custom text-center">
        <div class="icon-wrapper mb-3">
          <img src="assets/icons/Icon (1).png" alt="Membership Organisations" class="icon-img" />
        </div>
        <h3>Membership <br>Organisations</h3>
        <p>
          Our membership management <br> software provides full automation of <br> membership renewals and payments
        </p>
      </div>
      <div class="card-custom text-center">
        <div class="icon-wrapper mb-3">
          <img src="assets/icons/Icon (2).png" alt="National Associations" class="icon-img" />
        </div>
        <h3>National <br> Associations</h3>
        <p>
          Our membership management <br> software provides full automation of <br> membership renewals and payments
        </p>
      </div>
      <div class="card-custom text-center">
        <div class="icon-wrapper mb-3">
          <img src="assets/icons/Icon (3).png" alt="Clubs And Groups" class="icon-img" />
        </div>
        <h3>Clubs And <br> Groups</h3>
        <p>
          Our membership management <br> software provides full automation of <br> membership renewals and payments
        </p>
      </div>
    </div>
  </div>
</section>










 
 