.container {
  width: 60%;
  margin: auto;
  padding: 20px;
}

.user-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 25px;
}

.row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.col {
  flex: 1;
}

input, select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #bbb;
}

.row-radio label {
  margin-right: 12px;
}

h4 {
  margin-top: 20px;
}

.pink-btn,
.add-btn,
.submit-btn {
  background: #ff007f;
  color: white;
  border: none;
  padding: 10px 16px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.delete-btn {
  background: #c70039;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.preview-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 12px;
  border-radius: 8px;
}
