<router-outlet></router-outlet>
<!-- <app-template></app-template> -->
 <!-- <app-reactive></app-reactive> -->

 <!-- <app-create-task></app-create-task>
 <app-task-list></app-task-list> -->



<!-- 
<div class="container">
  <h2>Company Management</h2>

  <button (click)="toggleForm()">
    {{ showForm ? 'Hide Form' : 'Show Form' }}
  </button>

  <div class="popup" *ngIf="showForm">
    <app-test
      [editData]="companyToEdit"
      (dataAdded)="onDataAddedOrUpdated()"
    ></app-test>
  </div>


  <app-show-data
    [refresh]="refreshList"
    (editCompany)="onEditCompany($event)"
  ></app-show-data>
</div> -->

<app-subscribers></app-subscribers>

<app-admin></app-admin>

