<!-- <div class="container">

  <div class="header">
    <h2>Manage Mobiles</h2>
    <button class="btn-add" (click)="openPopup()">Add mobile</button>
  </div>


  <table class="mobile-table">
    <thead>
      <tr>
        <th>Mobile</th>
        <th>Price(Rs)</th>
        <th>RAM</th>
        <th>Storage</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let m of mobiles; let i = index">
        <td>{{ m.mobile }}</td>
        <td>{{ m.price }}</td>
        <td>{{ m.ram }}</td>
        <td>{{ m.storage }}</td>
        <td>
          <button class="btn-edit" (click)="editMobile(i)">Edit</button>
          <button class="btn-delete" (click)="deleteMobile(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal" *ngIf="showPopup">
    <div class="modal-content">

      <h3>{{ isEditMode ? 'Update Mobile' : 'Add Mobile' }}</h3>

      <input type="text" placeholder="Mobile Name" [(ngModel)]="mobile" (input1)="onChange()">
      <input type="number" placeholder="Price (Rs)" [(ngModel)]="price" (input1)="onChange()">
      <input type="text" placeholder="RAM" [(ngModel)]="ram" (input1)="onChange()">
      <input type="text" placeholder="Storage" [(ngModel)]="storage" (input1)="onChange()">

      <div class="modal-actions">
        <button class="btn-save" (click)="saveMobile()">
          {{ buttonText }}
        </button>
        <button class="btn-cancel" (click)="closePopup()">Cancel</button>
      </div>

    </div>
  </div>

</div> -->

<app-task></app-task>