<section class="stats-section">
  <div class="stats-container">
    <div class="stats-left">
      <h2>
        Helping a local <br>
        <span>business reinvent itself</span>
      </h2>
      <p>We reached here with our hard work and dedication</p>
    </div>
    <div class="stats-right">
      <div class="stats-row">
        <div class="stats-item">
        <img src="assets/icons/Iconclub-1.png" alt="Members Icon" />
          <div>
            <div class="stats-number">2,245,341</div>
            <div class="stats-label">Members</div>
          </div>
        </div>
        <div class="stats-item">
                <img src="assets/icons/Iconclub-3.png" alt="Event Bookings Icon" />
          <div>
            <div class="stats-number">46,328</div>
            <div class="stats-label">Clubs</div>
          </div>
        </div>
      </div>
      <div class="stats-row">
        <div class="stats-item">
            <img src="assets/icons/Iconclub-2.png" alt="Clubs Icon" />
          <div>
            <div class="stats-number">828,867</div>
            <div class="stats-label">Event Bookings</div>
          </div>
        </div>
        <div class="stats-item">
             <img src="assets/icons/Iconclub-4.png" alt="Payments Icon" />
          <div>
            <div class="stats-number">1,926,436</div>
            <div class="stats-label">Payments</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>