<section class="feature-section">
  <div class="feature-container">
    <div class="feature-image">
      <img src="assets/images/pana.png" alt="Feature Illustration" />
    </div>
    <div class="feature-content">
      <h2>How to design your site footer <br>like we did </h2>
      <p>
        Donec a eros justo. Fusce egestas tristique ultrices. Nam tempor, augue nec tincidunt <br>molestie, massa nunc varius arcu, at scelerisque elit erat a magna. Donec quis erat at <br>libero ultrices mollis. In hac habitasse platea dictumst. Vivamus vehicula leo dui, at porta <br>nisi facilisis finibus. In euismod augue vitae nisi ultricies, non aliquet urna tincidunt. Integer <br>in nisi eget nulla commodo faucibus efficitur quis massa. Praesent felis est, finibus et nisi <br>ac, hendrerit venenatis libero. Donec consectetur faucibus ipsum id gravida. </p>
      <button class="feature-btn">Learn More</button>
    </div>
  </div>
</section>
